<div class="banner">
  <div class="banner-graphic">
    <div class="banner-logo">
      <%= image_tag "bd_logo_white" %>
    </div>
    <div class="banner-text">
      <h1>Ethically designed stories of motherhood</h1>
    </div>
  </div>
</div>
