<div class="footer">
  <div class="footer-main">
    <div class="footer-logo">
      <%= image_tag "bd_logo_new_red" %>
    </div>
    <div class="footer-social">
      <h1>Follow BabyDuet!</h1>
      <div class="footer-links">
        <div class="footer-link">
          <%= link_to 'https://www.instagram.com/baby_duet_/' do %>
          <i class="fab fa-instagram"></i>
          <% end %>
        </div>
        <div class="footer-link">
          <%= link_to 'https://www.facebook.com/babyduet' do %>
          <i class="fab fa-facebook-f"></i>
          <% end %>
        </div>
        <div class="footer-link">
          <%= mail_to 'victorine@babyduet.com', subject: "Hello Baby Duet" do %>
          <i class="far fa-envelope"></i>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2021 BabyDuet</p>
  </div>
</div>
