<div class="footer">
  <%= link_to 'https://www.instagram.com/baby_duet_/' do %>
    <i class="fab fa-instagram"></i>
  <% end %>
  <%= link_to 'https://www.facebook.com/babyduet' do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>
  <%= mail_to 'victorine@babyduet.com', subject: "Hello Baby Duet" do %>
    <i class="far fa-envelope"></i>
  <% end %>
</div>
