<div class="intro">
  <%= image_tag "bd_intro" %>
  <div class="intro-text">
    "Hi, I’m Victorine, the founder of Baby Duet™, mother of two, and the excited owner of this shop"
  </div>
  <div class="intro-story">
    <%= link_to about_path do %>
    <div class="intro-story-lg">
      The Story
      </div>
        <div class="intro-story-sm">
          Get to know me >
        </div>
        <% end %>
      </div>
    </div>
