<div class="product-cards">
    <%= link_to products_path do %>
  <div class="product-card wide">
    <%= image_tag "bd_traffic.png" %>
    <div class="overlay">
      Shop All Bibs
    </div>
    <% end %>
    All Bibs
  </div>
    <%= link_to products_path do %>

  <div class="product-card wide">
    <%= image_tag "bd_traffic.png" %>
    <div class="overlay">
      Shop All Babygrows
    </div>
    <% end %>
    All Babygrows
  </div>

</div>
