<div class="about-banner">
  <h1>The Story</h1>
  <h3>Passionate about ethical fashion and zero waste</h3>
</div>

<div class="about-text">

  <p><i class="fas fa-quote-left quote"></i>Hi, I’m Victorine, the founder of Baby Duet™, mother of two, and the excited owner of this shop. It is thrilling to see my hand-drawn designs come to life through countless hours of planning, researching and creation.</p>
  <p>Whilst I always had an interest in fashion and arts, it was when I was attending my cousin’s wedding and my little boy had a beautiful attire, but unfortunately the bib didn’t match and it covered the whole print! I then came up with the idea of matching design. So I decided to create some myself. I believe that babies deserve the best, and wanted to offer that for all families out there.</p>
  <p>Look no further… Here you will find a luxury quality, organic cotton baby range with 3 unisex prints, which represent stages of my journey through motherhood.<i class="fas fa-quote-right quote"></i></p>

</div>

