<%= render "shared/banner" %>

<div class="intro">
  <%= image_tag "bd_intro" %>
  <div class="intro-text">
    <h2>"Hi, I’m Victorine, the founder of Baby Duet™, mother of two, and the excited owner of this shop"</h2>
  </div>
</div>
