.banner{
  height: 100vh;
  width: 100vw;
  background-color: $bd-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-graphic{
  position: relative;
}

.banner-logo{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 800px;
}

.banner-logo img{
  width: 100%;
}

.banner-text{
  position: absolute;
  top: 95%;
  left: 45%;
  text-align: right;
  width: 50%;
  h1{
    font-family: $bosk;
    font-style: italic;
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (800 - 300)));
    color: $bd-red;
  }
}
