.footer{
  width: 100%;
  background-color: $background;
  display: grid;
  padding: 20px;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer-logo{
  width: 280px;
  img{
    width: 100%;
  }
}

.footer-social{
  display: flex;
  flex-direction: column;
  h1{
    font-size: 36px;
    font-family: $headers-font;
    color: $brand;
    padding-top: 10px;
  }
  a{
    color: $text;
    font-size: 24px;
    text-decoration: none;
  }
}

.footer-links{
  display: flex;
  flex-direction: column;
}

.footer-link{
  a{
     text-decoration: none;
    &:hover{
      color: $bd-red;
      text-decoration: none;
    }
  }

}

// Desktop
@media (min-width: 768px) {
  .footer{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
  }
}

