

.footer-main{
  background-color: $bd-blue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-social{
  flex-basis: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-family: $bosk;
    color: white;
    font-size: 6vw;
  }
  a{
    color: white;
  }
}

.footer-links{
  display: flex;
}

.footer-logo{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 18vw;
  }
}

.footer-link{
  margin: 0px 20px 0px 20px;
  a{
    text-decoration: none;
    color: white;
    font-size: 6vw;
    &:hover{
      color: $bd-red;
    }
  }
}

// Desktop
@media (min-width: 768px) {
  .footer-social{
  flex-basis: 50%;
  }
  .footer-logo{
  flex-basis: 50%;
    img{
      height: 12vw;
    }
  }
  .footer-link{
    a{
      font-size: 4vw;
    }
  }
  .footer-social{
    h1{
      font-size: 4vw;
    }
  }
}



.copyright{
  padding-top: 12px;
  text-align: center;
  color: grey;
}
