.md-intro {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.md-intro-l {
  width: 420px;
  h1 {
    color: $brand;
  }
}

.md-intro-r {
  padding: 20px;
  a {
    color: $brand;
    text-decoration: none;

    :hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

@media (min-width: 768px) {
  .md-intro-r {
    max-width: 50%;
    margin-top: 100px;
  }
}
