.navbar{
  width: 100%;
  height: 60px;
}

.bd-logo{
  height: 100%;
  img{
   height: 100%;
 }
}

.nav-links{
  display: none;
}


// Burger and shake menu
.burger-menu{
  height: 100%;
}

#burger{
  z-index: 999;
  position: relative;
  height: 100%;
  img{
   height: 100%;
 }
}

#shake{
  position: absolute;
  top: 60px;
  right: 16px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.2s ease-in-out;
}

.shake-mini{
  transform: translateY(-90%) translateX(30%) scale(0.1);
  opacity: 0;
}

.shake-active{
  opacity: 1 !important;
  transform: translateX(0%) scale(1);
  transition: 0.2s ease-in-out !important;
}


// Desktop
@media (min-width: 768px) {
  .burger-menu{
    display: none;
  }
  .nav-links{
    display: block;
  }
}



