.text {
  display: flex;
  font-weight: lighter;
  font-size: 24px;
  color: $text;
  margin: 40px;

  a {
    color: $brand;
  }
}

.text-flip {
  background-color: $brand;
  color: $background;
  padding: 20px;
}

.no-f {
  display: block;
}

.bd-brand {
  display: block;
  font-family: $headers-font;
  text-align: left;
}

.long {
  font-size: 18px;
}

// Text with images
.t-w-i{
  img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 20px;
  }
}
