.product-cards{
  border: 1px solid green;
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .product-cards{

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-card{
  margin: auto;
  border:1px solid lime;
  height: 300px;
  width: 300px;
  img{
    height: 100%;
    width: 100%;
  }
}

//legacy stylings

.product-index{
  max-width: 800px;
  display: flex;
  justify-content: center;
  border: 1px solid green;
}

.index-card{
  background-image: "bd_card_yellow";

  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

}

.card-name{
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

.card-image{
  height: 200px;
  width: 280px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
