.product-cards {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: auto;
  min-height: 400px;
}

.pcb {
  border: 4px solid $brand;
}

@media (min-width: 966px) {
  .product-cards {
    justify-content: space-between;
  }
}

.product-card {
  margin: 0px 10px 0px 10px;
  height: 330px;
  width: 300px;
  color: $text;
  text-align: center;
  position: relative;
  h6 {
    margin-top: 5px;
    text-decoration: none;
    color: $text;
    font-size: 18px;
    font-family: $body-font;
    font-weight: lighter;
  }
  img {
    object-fit: cover;
    height: calc(90% + 3px);
    width: 100%;
  }
}

.wide {
  min-width: 300px;
  width: 47%;
}

.xwide {
  width: 98%;
}

.narrow {
  min-width: 200px;
  width: 23%;
}

.product-card:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: calc(90% + 3px);
  width: 100%;
  transition: 0.5s ease;
  background-color: $brand;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $text;
}

//index stylings

.index-cards {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.overlay-index {
  position: absolute;
  top: -22px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: $brand;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $text;
}

.index-card {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  position: relative;
  img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }
  h6 {
    margin: 10px;
    text-decoration: none;
    color: $text;
    font-size: 20px;
    text-align: center;
  }
}

.index-card:hover .overlay-index {
  opacity: 0.8;
}
