.intro{
  background-color: $bd-blue;
  text-align: center;
  position: relative;
  img{
    width: 100%;
  }
}

.intro-text{
  width: 50%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 4vw;
  font-family: $bosk;
  font-weight: bold;
}

.intro-story{
  position: absolute;
  text-align: center;
   bottom: 10%;
  right: 10%;
  font-family: $bosk;
  a{
    text-decoration: none;
  }
}

.intro-story:hover{
    .intro-story-lg{
      font-size: 46px;
    transition: 0.2s ease-in-out;

    }

}

.intro-story-sm{
  color: white;
  margin-top: -26px;
  transition: 0.2s ease-in-out;

}

.intro-story-lg{
  transition: 0.2s ease-in-out;
  color: $bd-red;
  font-size: 36px;
}

