.intro{
  background-color: $bd-blue;
  text-align: center;
  position: relative;
  img{
    width: 100%;
  }
}

.intro-text{
  width: 50%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 4vw;
  font-family: $bosk;
  font-weight: bold;
}




